body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: white;
}
nav{
width: 100%;
display: flex;
}
.tl{
    text-align: end;
}
.tf{
    display: flex;
    text-align: left;
}